{% extends 'layout.html' %}

{% block body %}
    <h1>You can contact us here:</h1>
    <p class="lead"> - <a href="https://github.com/Funisher-code" target="_blank" >https://github.com/Funisher-code</a></p>
	<p class="lead"> - <a href="https://linkedin.com/in/markus-maechler" target="_blank" >https://linkedin.com/in/markus-maechler</a></p>
	<p class="lead"> - <a href="https://www.linkedin.com/in/thomas-bocek-57a5b2/" target="_blank" >https://www.linkedin.com/in/thomas-bocek-57a5b2/</a></p>
{% endblock %}